body {
    background-image: url(../images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color:aliceblue;
    text-align: center;
    padding: 0;
    font-size: 2rem;
}

body button {
    font-size: 30px;
    background-color: #09041bc9;
    color: aliceblue;
    border: 0;
    box-shadow: 0;
    width: 15vw;
    height: 8vh;
    border-radius: 15px;
    font-weight: bold;
    position: relative;
  }

  #main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  #game-screen {
    /* display: grid;
    grid-template-rows: repeat(var(--rows, 10), 1fr);
    grid-template-columns: repeat(var(--columns, 10), 1fr); */
    border: 1px solid rgba(255, 255, 255, 0.712);
    /* width: var(--grid-width);
    height: var(--grid-height); */

    display: none;
    display: flex;
    /* overflow: hidden; */
    background-size: cover;
    background-color: #09041bc9;
  }

  /* #game-screen {
    border-collapse: collapse;
    border: 1px solid white;
    width: var(--grid-width);
    height: var(--grid-height);

    display: none;
    overflow: hidden;
    background-size: cover;
    background-color: #09041bc9;
} */

.cell {
    border: 1px solid rgba(255, 255, 255, 0.712);
    /* width: var(--cell-width);
    height: var(--cell-height); */
    width: auto;
    height: auto;
}

  #title {
    height: 6vh;    
    
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }

.logo-img {
    width: 300px;
  }
  
  #game-intro {
    padding: 20px 0px;
    height: 60vh;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#game-score {
    width: 40vw;
    height: 6vh;
    background: linear-gradient(135deg, rgb(62, 28, 86), rgb(48, 68, 110));
    border-radius: 40px;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    display:none;
  }

  #game-end {
    display: none;
  }
