body {
    background-image: url(../images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color:aliceblue;
    text-align: center;
    padding: 0;
    font-size: 2rem;
}

body button {
    font-size: 30px;
    background-color: #09041bc9;
    color: aliceblue;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-weight: bold;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#title {
    height: 100px;    

    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }

.logo-img {
    width: 500px;
    /* color: rgb(81, 0, 243); */
  }
  
#game-intro {
    padding: 20px 0px;    
  }
  
#game-container {
    width: 100vw;
    padding: 20px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }
  
#game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/road.png);
    background-size: cover;
    animation: slide 5s linear infinite;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  
  #game-end {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  

  
  .arrows-img {
    width: 150px;
  }
  

  