body {
    background-image: url(../images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color:aliceblue;
    text-align: center;
    padding: 0;
    font-size: 1.7rem;
}

body button {
  background-color: #09041bc9;
  color: aliceblue;
  border-radius: 15px;
  border: 1px aliceblue solid;

}

#start-button,#restart-button {
    font-size: 30px;
    box-shadow: 0;
    width: 15vw;
    height: 8vh;
    font-weight: bold;
    position: relative;
    border: 0;
  }

  #main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  #game-screen {
    border: 1px solid rgba(255, 255, 255, 0.712);
    display: none;
    display: flex;
    /* overflow: hidden; */
    background-size: cover;
    background-color: #09041bc9;
  }

  #mid-screen {
    display: none;    
    background-image: url();
  }

  #title {
    height: 6vh;    
    
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }

.logo-img {
    width: 300px;
  }
  
  #game-intro {
    padding: 20px 0px;
    height: 60vh;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #container-score {
    display: flex;
    flex-direction: row;

  }
  
#game-score {
    width: auto;
    height: 6vh;
    /* background: linear-gradient(135deg, rgb(62, 28, 86), rgb(48, 68, 110)); */
    border-radius: 40px;
    text-align: center;
    margin-left: 50px;
    margin-top: 85px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around; */

    display:none;
  }

  #game-end {
    display: none;
  }
  
  .game-container {
    margin: 0px auto;
  }

  #game-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-map {
    position: relative;
    background-color: #09041bc9;
  }
 
  #success-msg {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    padding: 5px 5px;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    width: calc(100% - 8px);
  }
  
  body.success #success-msg {
    opacity: 1;
    transition: opacity 0.2 ease;
  }
  
  .text {
    display: none;
    color: aliceblue;
  }

  #text-1 {
    display: none;
  }
  

  /*
   * Layers and tiles are positioned absolutely
   * within coordinate system of .game-map 
   */
   div.layer,
   div.layer div {
     position: absolute;
   }
   /* border for floors and wall */
   #tiles div {
     border: 1px solid rgba(240, 248, 255, 0.565);
   }
   
   /*
    * Default wall and floor styles
    */
   
   .floor {
     background-color: transparent;
   }
   
   .wall {
     background-color: #350ccac9;
   }

   .q1,
   .q2,
   .q3 {
    background-image: url(../images/q_mark.png);
    background-size: cover;
   }

   /*
   * player and goal are slightly smaller than tiles
   */
  .player, 
  .goal {
    transform-origin: center;
    transform:scale(0.85);
  }
  /*
   * Goal colors
   */
  .goal {
    background-image: url(../images/door.png);
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
  }
  /*
   *  Player default colors
   */
  .player {
    transition: left 0.2s ease, top 0.2s ease;
    background-image: url(../images/astronaut_on_rocket.png);
    background-size: cover;
  }
  /*
   * Player wobbles when colliding with wall or border
   */
  .player.collide {  
    animation: wobble 0.5s;
    animation-iteration-count: infinite;
    transition: background-color 0.2s;
    
  }
  
  /* 
   * Wobble animation
   */
  @keyframes wobble {
    0% { transform: scale(0.85) translate(1px, 1px); }
    10% { transform: scale(0.85) translate(-1px, -2px); }
    20% { transform: scale(0.85) translate(-3px, 0px); }
    30% { transform: scale(0.85) translate(3px, 2px); }
    40% { transform: scale(0.85) translate(1px, -1px);}
    50% { transform: scale(0.85) translate(-1px, 2px); }
    60% { transform: scale(0.85) translate(-3px, 1px); }
    70% { transform: scale(0.85) translate(3px, 1px); }
    80% { transform: scale(0.85) translate(-1px, -1px); }
    90% { transform: scale(0.85) translate(1px, 2px); }
    100% { transform: scale(0.85) translate(1px, -2px); }
  }

  #wrapper {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vw;
  }
  
  #wrapper1 {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-end;
    align-items: center;
  }

#q-pane {
  background-color: #1f0481;
  height: 13vw;
  width: 48vw;
  border-radius: 50px;
/* 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; */
}

.question-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.question {
  font-weight: bold;
  height: 7vh;
  text-align: center;
}

.option {
  /* width: auto; */
  font-weight: bold;
  font-size: large;
  width: 15vw;
  height: 6vh;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blur {
  filter: blur(5px);
}

  